#offcanvasNavbarFurniture {
    color: black;
    border: 0;
    font-size: 20px;
    &:hover {
        color: gray;
    }
    &:focus {
        outline: none;
    }
    &::after{
        display: none;
    }
}

#offcanvasNavbarToggle {
    border: none;
    &:focus,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

@media only screen and (min-width: 992px) {
    #offcanvasNavbarFurniture {
        display: none;
    }
}
