.form-group {
    .form-control:focus {
        border-color: black;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .is-invalid{
        border-color: var(--bs-form-invalid-color) !important;
    }
    .error{
        border-color: var(--bs-form-invalid-color) !important;
    }
}
