.user-details-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
    .user-details{
        width: 300px;
        overflow: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        border-radius: 5px;
        padding: 16px;
        .detail{
            .bold{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

}